<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzd.collegecommunity">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name=".util.AppCenterUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.ChatActivity"></activity>
        <activity android:name=".activity.ThirdActivity"></activity>
        <activity android:name=".activity.MainFabPublicActivity"></activity>
        <activity android:name=".activity.MainActivity"></activity>

        <activity android:name=".activity.PublishTaskActivity"></activity>
        <activity android:name=".activity.PublishGoodsActivity"></activity>

        <activity android:name=".activity.MeActivity"></activity>
        <activity android:name=".activity.MeSettingActivity"></activity>
        <activity android:name=".activity.MeTaskActivity"></activity>
        <activity android:name=".activity.MeCollectActivity"></activity>
        <activity android:name=".activity.MeContactActivity"></activity>
        <activity android:name=".activity.MeGoodsActivity"></activity>


    </application>

</manifest>